<?php

namespace App\Commands;

use Melonly\Console\Command;
use Melonly\Interfaces\CommandInterface;

return new class extends Command implements CommandInterface
{
    public function __construct()
    {
        parent::__construct();
    }

    public function handle(): void
    {
        $this->infoLine('Custom command called');
    }
};
