<?php

namespace App\Controllers;

use Melonly\Http\Controller;
use Melonly\Http\Request;
use Melonly\Http\Response;

class {{ class }} extends Controller
{
    public function index(Request $request, Response $response): void
    {
        // 
    }
}
