<?php

namespace App\Emails;

use Melonly\Interfaces\MailInterface;

class {{ class }} implements MailInterface
{
    protected string $content = '
        Custom e-mail
    ';

    public function send(): string
    {
        return $this->content;
    }
}
