<?php

namespace App\Middleware;

use Melonly\Http\Request;
use Melonly\Http\Response;

class {{ class }}
{
    public function handle(Request $request, Response $response): void
    {
        // 
    }
}
