<?php

use Melonly\Database\Schema;
use Melonly\Database\Table;
use Melonly\Interfaces\MigrationInterface;

return new class implements MigrationInterface
{
    public function setup(): Schema
    {
        return Schema::table('{{ table }}', function (Table $table): void {
            $table->id('id');
            $table->string('field');
            $table->timestamp('created_at');
        });
    }
};
