@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #3d3d41;
    font-family: 'DM Sans', 'Segoe UI Variable Text', 'Segoe UI', sans-serif;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    font-weight: 400;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.code {
    color: #10b981;
    margin-right: 18px;
    font-size: 52px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #0a141c;
        color: #fff;
    }
}
